In [7]:
print("Meu código No Jupyter")

Meu código No Jupyter

In [8]:
import pandas as pd
import numpy as np
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import os

In [ ]:
base_path = os.getcwd()  # Diretório atual do notebook
file_name = os.path.join(base_path, '6_1_dados_elastic_net_regression.csv')
file_name

'/home/phmelosilva/dev/2025_1/AprendizadoDeMaquina/exercicios_praticos/6_1_dados_elastic_net_regression.csv'

In [17]:
print(f"Carregando dados do arquivo: {file_name}")
data = pd.read_csv(file_name)
print("Dados carregados com sucesso.")
print("Primeiras 5 linhas dos dados:")
print(data)

# Separar features (X) e variável alvo (y)
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
feature_names = X.columns.tolist()
data

Carregando dados do arquivo: /home/phmelosilva/dev/2025_1/AprendizadoDeMaquina/exercicios_praticos/6_1_dados_elastic_net_regression.csv
Dados carregados com sucesso.
Primeiras 5 linhas dos dados:
    Feature_1  Feature_2  Feature_3  Feature_4  Feature_5      Target
0    0.975120  -0.677162  -0.012247  -0.897254   0.075805  -80.741514
1    0.081874  -0.485364   0.758969  -0.772825  -0.236819  -61.932650
2   -1.412304  -0.908024  -0.562288  -1.012831   0.314247 -267.460735
3   -0.645120   0.361636   1.356240  -0.072010   1.003533  119.927054
4   -0.622700   0.280992  -1.952088  -0.151785   0.588317 -118.392114
..        ...        ...        ...        ...        ...         ...
95  -1.514847  -0.846794   0.714000   0.473238  -0.072829  -93.362869
96  -0.773010   0.097676  -0.401220   0.224092   0.012592  -45.563369
97   1.031000   0.611676   0.324084  -0.385082  -0.676922  103.500463
98  -0.234587   0.005113  -1.463515   0.296120   0.261055  -57.745023
99  -0.471038  -0.506943  -0.822220   0.243687   0.244967 -112.609028

[100 rows x 6 columns]

    Feature_1  Feature_2  Feature_3  Feature_4  Feature_5      Target
0    0.975120  -0.677162  -0.012247  -0.897254   0.075805  -80.741514
1    0.081874  -0.485364   0.758969  -0.772825  -0.236819  -61.932650
2   -1.412304  -0.908024  -0.562288  -1.012831   0.314247 -267.460735
3   -0.645120   0.361636   1.356240  -0.072010   1.003533  119.927054
4   -0.622700   0.280992  -1.952088  -0.151785   0.588317 -118.392114
..        ...        ...        ...        ...        ...         ...
95  -1.514847  -0.846794   0.714000   0.473238  -0.072829  -93.362869
96  -0.773010   0.097676  -0.401220   0.224092   0.012592  -45.563369
97   1.031000   0.611676   0.324084  -0.385082  -0.676922  103.500463
98  -0.234587   0.005113  -1.463515   0.296120   0.261055  -57.745023
99  -0.471038  -0.506943  -0.822220   0.243687   0.244967 -112.609028

[100 rows x 6 columns]

# Testando
Aqui tem uma documentação